:root{
    --text-color: #ededed;
    --link-color: #6a89dd;
    --background-color: #242424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(images/carinarock.png);
    background-color: #333;
    background-size: cover; 
    background-position: right center; 
    background-repeat: no-repeat; 
    overflow: visible; /* Allow the image to overflow */
    margin: 0 auto; /* Center the container */
    height: 1000px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */    /* NAVBAR */    /* NAVBAR */    /* NAVBAR */    /* NAVBAR */    /* NAVBAR */    /* NAVBAR */    /* NAVBAR */    /* NAVBAR */

/* Disable navbar links temporary */
nav .navabout,.navconsult {
    display: none;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
    height: 80px;
    transition: background-color 0.4s ease-in-out;
}


nav .left a {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    padding: 5px 15px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

nav .navlinks {
    background-color: var(--background-color);
}

nav .right a span {
    margin-left: 5px;
}


/*HOVER*/
nav .right a:hover {
    background-color: #444;
    padding: 5px 15px;
    border-radius: 5px;
}
nav.scrolled .right a:hover {
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 5px 15px;
    margin: 0 15px;
    font-size: 18px;
    border-radius: 5px;
}


/*SCROLLED*/
nav.scrolled {
    background-color: #333;
}
nav.scrolled .left a {
    color: var(--text-color);
}
nav.scrolled .right a {
    color: var(--text-color);
}
nav.scrolled .right a {
    color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}
nav.scrolled .navlinks {
    background-color: transparent;
}

/* Experience Section*/     /* Experience Section*/     /* Experience Section*/     /* Experience Section*/     /* Experience Section*/     /* Experience Section*/ 
#experience-heading {
    margin-left: 6%;
    margin-top: 100px;
    color: var(--text-color);
}

.experience-section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap for smaller screens */
    gap: 20px; /* Add spacing between items */
}

.experience-container {
    display: flex;
    flex-direction: column; /* Stack boxes vertically */
    align-items: flex-start;
    flex: 1; /* Allow it to grow/shrink based on available space */
    max-width: 40%; /* Limit the width for better readability */
}

.experience {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px; /* Add spacing between boxes */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; /* Make boxes take full width of the container */
    margin-left: 10%;
}

.job-title {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.job-duration {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
}

.job-tasks {
    list-style-type: none;
    padding-left: 0;
}

.job-tasks li {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}


/* Footer Section */
footer {
    background-color: #333;
    color: #ededed;
    padding: 20px 10px;
}

.footer-container {
    padding-left: 10%;
    width: 40%;
}
.footer-contact {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

footer h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

footer .link-mail i, .link-phone i, .link-linkedin i {
    margin-right: 5px;
}

footer hr {
    margin: 20px auto;
    width: 80%;
    border: 0.5px solid #444;
}








/*MEDIA---MEDIA---MEDIA---MEDIA*/

/*---------------------NAVBAR----------------------*/


@media (max-width: 1150px) {
    nav {
        padding: 0 8%;
    }
    nav .right a span {
        display: none;
    }


    #experience-heading {
        font-size: 22px;
    }
    
    
    .job-title {
        font-size: 20px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }
    .job-duration {
        font-size: 12px;
        color: #777;
        margin-bottom: 15px;
    }
    .job-tasks li {
        font-size: 14px;
        color: #555;
        margin-bottom: 5px;
    }

    .footer-container {
        width: 60%;
    }
    .footer-container h2 {
        font-size: 18px;
    }
    .footer-container p {
        font-size: 14px;
    }


    .link-mail, .link-phone, .link-linkedin {
        font-size: 14px;
    }

}

@media (max-width: 1000px) {
    .footer-contact {
        gap: 50px;
        display: flex;
        flex-direction: column;
    }
    .footer-container {
        padding-left: 10%;
        width: 90%;
    }
}

@media (max-width: 750px) {
    nav .right .navabout {
        display: none;
}
    nav .right .navconsult {
        display: none;
}
    nav .right .navexperience {
        display: none;
}
.experience-container {
    max-width: 100%;
}
.experience {
    margin-left: 0;
}


#experience-heading {
    text-align: center;
    margin-left: 0;
    font-size: 22px;
}
}


@media (max-width: 400px) {
    body {
        height: 1050px;
    }
}




