:root{
    --text-color: #ededed;
    --link-color: #6a89dd;
    --background-color: #242424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image:url("images/carinaimg.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    height: 100vh; 
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */    /* NAVBAR */    /* NAVBAR */    /* NAVBAR */    /* NAVBAR */    /* NAVBAR */    /* NAVBAR */    /* NAVBAR */    /* NAVBAR */


nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
    height: 80px;
    transition: background-color 0.4s ease-in-out;
}
nav.scrolled {
    background-color: #242424;
    opacity: 1;
}


nav .left a {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
    transition: color 0.4s ease-in-out;
}
nav.scrolled .left a {
    color: white;
}


nav .right a {
    color: var(--text-color);
    margin: 0 15px;
    font-size: 18px;
    font-weight: 400;
    transition: color 0.4s ease-in-out;
}
nav.scrolled .right a {
    color: white;
}

nav .right b:hover {
    cursor: pointer;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span {
    margin-left: 5px;
}



/* SECTION 1: Info */   /* SECTION 1: Info */   /* SECTION 1: Info */   /* SECTION 1: Info */   /* SECTION 1: Info */   /* SECTION 1: Info */   /* SECTION 1: Info */

.info-section {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    transition: 0.1s;
    height: 95vh;
}

.info-section .text {
    flex: 5;
    margin-top: 200px;
    margin-left: 12%;
    transition: 0.1s;
}

.info-section .text h2 {
    font-size: 24px;
    color: #ededed;
}

.info-section .text p {
    font-size: 20px;
    color: #ededed;
    width: 400px;
}

.info-section .text .links{
    margin-top: 25px;    
    font-size: 16px;
}

.info-section .text .links span {
    margin: 10px;
}

.info-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
    transition: 0.1s;
}
.info-section .text .links a:hover{
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

/* SECTION 2: About */
.about-section {
    padding: 50px 340px;
    margin-bottom: 0px;
    transition: 0.1s;
}
.about-section .textbox {
    background-color: #404040;
    padding: 50px;
}
.about-section h2 {
    margin-left: 125px;
    color: #ededed;
    font-size: 35px;
}
.about-section .atext1, .atext2, .atext3, .atext4 {
    color: #ededed;
    font-size: 20px;
    width: 1000px;
    padding: 10px;
    margin-left: 140px;
}

/*SECTION 3: Konsulten */
.consult-section {
    padding: 50px 250px;
    background-color: #adadad;
}
.consult-section h2 {
    color: black;
    font-size: 35px;
    margin-bottom: 25px;
}
.consult-section .textbox .ktext1, .ktext2, .ktext3 {
    color: black;
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.consult-section .textbox .kh1, .kh2, .kh3 {
    color: black;
    font-size: 30px;
    margin-left: 70px;
}

/*SECTION 4: Erfarenhet */
.eh {
    color: #ededed;
    font-size: 35px;
    margin-top: 50px;
    margin-left: 250px;
    margin-bottom: 25px;
    
}
.experience-section1 {
    padding: 0 250px;
    display: flex;
}
.experience-section1 .klingel {
    min-width: 710px;
    max-width: 710px;
    height: 350px;
    border: 2px solid #242424;
}
.experience-section1 .textboxup {
    background-color: #554848;
    padding: 10px 20px;
    min-width: 710px;
    max-width: 710px;
    height: 350px;
    color: #ededed;
    border: 2px solid #242424;
    margin-left: 50px;
}
.experience-section2 {
    padding: 0px 250px;
    display: flex;
}
.experience-section2 .ehandel {
    min-width: 710px;
    max-width: 710px;
    height: 350px;
    border: 2px solid #242424;
    margin-left: 50px;
}
.experience-section2 .textboxdown {
    background-color: #554848;
    padding: 10px 20px;
    min-width: 710px;
    max-width: 710px;
    height: 350px;
    color: #ededed;
    border: 2px solid #242424;
    margin-bottom: 100px;
}

/*SECTION 5: Kontakt */
.contact-section {
    padding: 25px;
    background-color: #adadad;
}
.contact-section .advice1, .advice2 {
    font-size: 20px;
    color: black;
    width: 800px;
    padding: 10px;
    padding-bottom: 30px;
    margin-left: 550px;
}

/* Under Contact*/
.below-contact{
margin-bottom: 50px;
}

.below-contact h2 {
    color: #ededed;
    margin: 25px;
    margin-left: 750px;
}
.below-contact .link-mail, .link-phone, .link-linkedin {
    color: var(--link-color);
    padding: 10px;
    margin-left: 800px;
    font-size: 20px;
}



/*FOOTER*/
footer {
    padding: 50px;
    padding-left: 200px;
    margin-top: 25px;
    background-color: black;
    color: #ededed;
}

footer hr {
    margin-top: 25px;
    max-width: 1550px;
    min-width: 200px;
    margin-right: 50px;
}




/*MEDIA---MEDIA---MEDIA---MEDIA*/

/*---------------------NAVBAR----------------------*/

@media (max-width: 1250px) {
    nav {
        padding: 0 20px;
    }
    nav .right a span {
        display: none;
    }
}

@media (max-width: 1150px) {
    .info-section .text {
        margin-left: 5%;
    }
    .info-section .text p {
        width: 300px;
    }
}

@media (max-width: 800px) {
    .info-section .text {
        margin-top: 50px;
    }
    .info-section .links {
        display: none;
    }
    .info-section .text p {
        font-size: 18px;
        width: 250px;
    }
    .info-section .text h2 {
        font-size: 20px;
    }
    
}


@media (max-width: 750px) {
    nav .right .navabout {
        font-size: 0;
}
    nav .right .navconsult {
        font-size: 0;
}
    nav .right .navexperience {
        font-size: 0;
}
    nav .right a:last-child {
        color: var(--text-color);
        background-color: var(--background-color);
    }
}
